<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="activeExamples" type="System.Configuration.NameValueSectionHandler" /> 
    </configSections>
    <appSettings>
        <add key="CLIENT_ID" value=""/>
        <add key="CLIENT_SECRET" value=""/>
        <add key="ACCESS_TOKEN" value=""/>
        <add key="AppId" value=""/>
    </appSettings>
    
    <activeExamples>
        <add key="WebCheckout" value="Web Checkout"/>
        <add key="API" value="API"/>
    </activeExamples>
    
</configuration>